.create-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  padding: 20px;
  z-index: 11;

  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
  }

  .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;

    .fields {
      display: flex;
      flex-direction: row;
      column-gap: 10px;

      .field {
        display: flex;
        flex-direction: column;
        align-items: start;
        row-gap: 5px;

        label {
          padding-left: 20px;
          font-size: 14px;
        }
      }
    }
  }
}
